.catagory-item{
    width: 175px;
    height: 60px;
    padding: 15px;
    border-radius: 5px;
    margin-left: 10px;
}
.category-img1{
    width: 30px;
    height: 32px;
}
.category-text{
    font-size: 12px;
    margin-top: 3px;
}
.category-img2{
    width: 10px;
    height: 10px;
    margin-top: 8px;
    margin-left: 5px;
}

@media only screen and (max-width: 600px) {
    .catagory-item{
        width: 160px;
        margin-left: 25px;
}
}